@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Berkshire+Swash|Poppins');
/* Color Scheme:
Dark Blue: #1e1d30
electric blue: #353598; rgba(53, 53, 151, 1.0);
faded red: #a34b4f
pink: #ed7d77
white: #ffffff
*/
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    min-width: 5px;
}
.card {
    cursor: pointer;
}
.drink-link {
    color: white;
}
.lead {
    color: white !important;
    font-size: 2em !important;
}
.rgba-gradient {
    /* background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(163, 75, 79, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(163, 75, 79, 1) 100%);
    background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(163, 75, 79, 1) 100%); */
    background: -moz-linear-gradient(45deg, rgba(119, 161, 211, 0.6), rgba(230, 132, 174, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(119, 161, 211, 0.6), rgba(230, 132, 174, 1) 100%);
    background: linear-gradient(to 45deg, rgba(119, 161, 211, 0.6), rgba(230, 132, 174, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    background: transparent;
}
.card-body {
    background: #352D5DD6;
    box-shadow: inset 0 2px 4px 0px rgba(50, 50, 50, 0.75);
}

.jumbotron img {
    max-width: auto;
    height: 50%;
}
.jumbotron h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 4rem;
}
.jumbotron p {
    font-family: 'Amatic SC', cursive;
    color: #1e1d30;
    font-size: 1.5rem;
}
.search-bar {
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.15);
}
.input-group {
    font-family: 'Amatic SC', cursive;
    color: #1e1d30;
    font-size: 1.5rem;
}

.alcoholic-tag {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.bootstrap-tagsinput {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.close {
    color: white;
}

.close:hover {
    color: white;
}

.album {
    background: transparent;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 1rem;
}
.badge-primary {
    background-color: #E684AE;
}

header, footer, body {
    /* background: #ffffff; */
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins', sans-serif;
}
a, .page-link {
    color: #595183;
}
a:hover .page-link:hover {
    color: #352D5DD6;
}
title, p, h1, .text-muted {
    color: #ffffff;
}

.model-body{
    background: #595183;
    color: white;
}
.modal-content{
  background: #595183;
  color: white;
}
.ingredients ul {
    list-style: none;
} 
.ingredients li:before {
    content: '✅';
    margin-left: -20px;
    margin-right: 10px;
}
hr {
    border-top: 1px dotted white;
}
a .page-link {
    border: none;
}
/* Media Queries to resize + responsive Cards for card-columns */
@media (min-width: 355px) {
    .lead {
        font-size: 1.5em !important;
    }
    .bootstrap-tagsinput {
        font-size: 0.9em;
    }
    .text-center img {
        height: 25%;
    }
    .search-bar {
        padding: 0rem !important; 
    }
}

@media (min-width: 400px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

label[for="favCheck"] {
    color: white;
}

#firebaseui-auth-container {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
}

.card i.fa-heart {
    position: absolute;
    color: white;
    background-color: #595183;
    border-radius: 100%;
    margin: 0.5em;
    right: 0;
    padding: 0.25em;
    font-size: 1.25em;
}